<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Viazmus - Авторизация</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
					<span class="login100-form-title">Авторизация</span>

					<div class="text-center">
						<p style="margin-bottom: 25px;"><small class="txt1" th:if="${param.error != null}">&#10071; Не корректный логин или пароль &#10071;</small></p>
					</div>
					<form th:action="@{/login}" method="post">

					<div class="wrap-input100" style="margin-bottom: 25px;">
						<input class="input100" type="text" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Логин</span>
					</div>

					<div class="wrap-input100" style="margin-bottom: 25px;">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Пароль</span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">Войти</button>
					</div>
					</form>

					<div class="text-center" style="margin-top: 25px;">
						<a style="text-decoration: none;" th:href="@{/registration}"><span class="txt2">или зарегистрироваться</span></a>
					</div>
				</div>
				<div class="login100-more" th:style="'background:url('+ @{/img/searching.png} +');background-size: cover; background-position: left; background-repeat: no-repeat;' ">
				</div>
			</div>
		</div>
	</div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>